body {
    background-color: #EEF9BF;
}

.header {
    margin: 40px 11px 47px 12px;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #75B79E;
    margin-bottom: 10px;
}

span {
    font-family: 'Roboto';
    color: #EEF9BF;
    font-size: 20px;
}

.clock {
    width: 180px;
    height: 80px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.time {
    width: 180px;
    height: 40px;
    padding: 10px;
    border: 3px solid #75B79E;
    border-radius: 10px; 
    box-sizing: border-box;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 25vw;
}

.card {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;
    transition: all .5s;
    transform-style: preserve-3d;
    transform: scale(1);
}

.card:active {
    transform: scale(.95);
    transition: transform 200ms;
}

.card img {
    width: 100px;
    height: 100px;
    
    position: absolute;
    top: 24px;
    left: 10px;
}

.front-face,
.back-face {
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
  }

.right-pair {
    transform: rotateY(180deg);
  }



